<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
    <head>
        <title>Trigo Santana | Double Bass Player Berlin</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    </head>

    <body>
      <header>
        <div class="header-section">
          <div class ="logo-wrapper">
              <a class="logo" href="../index.html" >
                <img src="../img/logo.png" alt="logo" width=40px>
                <h1>Trigo Santana</h1>
              </a>
          </div>
          <div class="navbar-wrapper">
              <ul>
                <li> <a href="../index.html#upcoming"> Upcoming Shows </a> </li>
                <li> <a href="../index.html#biography"> Biography </a> </li>
                <li> <a href="../contact/index.html"> Contact </a> </li>
                <li> <a href="#"> Discography </a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

        <main>
            <section id="discography">
              <div class="full-width">
                <h2>Discography as sideman</h2>

                <!--Responsive Gallery -->
                <ul id="discography-item">

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/833118434&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true">
                        <img class="discography-img" src="../img/cover/bem-acompanhado.png" alt="sozinho-bem-acompanhado" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Sozinho e Bem Acompanhado" 2019</p>
                      <p class="discography-artist">
                          <span class="artist-format">
                            Artist:
                          </span>
                            Maurício Ribeiro
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/696411591&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/cru-cozido-repartido.png" alt="cru-partido-e-repartido" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Cru, Cozido e Repartido" 2018</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Mauro Rodrigues
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/macineira.png" alt="macieiras" width=200px height=200px />
                      <p class="discography-album">"Macieiras" 2017</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Alexandre Andrés
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/suiteorinico-orig.jpg" alt="macieiras" width=200px height=200px />
                      <p class="discography-album">"Suite Onírica” 2017</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Rafael Martini
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/205370823&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true">
                        <img class="discography-img" src="../img/cover/Viamundo_thiago-2015.jpg" alt="viramundo_thiago_delegado" width=200px height=200px />
                      </iframe>">
                      <p class="discography-album">"Viamundo" 2015</p>
                      <p class="discography-artist">
                          <span class="artist-format">
                            Artist:
                          </span>
                            Thiago Delegado
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/145088852&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=false&visual=true">
                        <img class="discography-img" src="../img/cover/olhe_bem_as_montanhas-500x500.jpg" alt="olhe-bem-as-olhe_bem_as_montanhas" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Olha bem as montanha” 2015</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Alexandre Andrés
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/alexandreandres_nuvens.jpg" alt="nuvens_alexandre_andres" width=200px height=200px />
                      <p class="discography-album">DVD "Macaxeira Fields” 2014</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Alexandre Andrés
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146957840&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/Marcos_Braccini_noturno.jpg" alt="Marcos_Braccini_noturno" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Noturno” 2014</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Marcos Braccini
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/trio_2014.png" alt="Mauricio_Ribeiro_trio" width=200px height=200px />
                      <p class="discography-album">"Trio” 2014</p>
                      <p class="discography-artist">
                          <span class="artist-format">
                            Artist:
                          </span>
                            Maurício Ribeiro
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/224102066&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/deriva2013.png" alt="Mauricio_Ribeiro_trio" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Deriva” 2013</p>
                      <p class="discography-artist">
                          <span class="artist-format">
                            Artist:
                          </span>
                            Kristoff Silva
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/105558356&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/pro_fim_inverno_2013.png" alt="Mauricio_Ribeiro_trio" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Pro fim do inverno” 2013</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Cristiano Cunha
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2731939&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/macaxeira_fields.png" alt="Mauricio_Ribeiro_trio" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Macaxeira fields" 2012</p>
                      <p class="discography-artist">
                          <span class="artist-format">
                            Artist:
                          </span>
                            Alexandre Andrés
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/85148095&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/so.png" alt="antonio_loureiro" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Só" 2012</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Antonio Loureiro
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/vander_lee.png" alt="Mauricio_Ribeiro_trio" width=200px height=200px />
                      <p class="discography-album">"Sambarroco” 2011</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Vander Lee
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/50464816&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/motivo.png" alt="motivo_rafael_martini" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Motivo" 2011</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Rafael Martini
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/40962676&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/misturado.png" alt="misturado_orquestra" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Misturada Orquestra" 2011</p>
                      <p class="discography-artist">
                          <span class="artist-format">
                            Artist:
                          </span>
                            Misturada Orquestra
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200pxx" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3813179&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/leopoldina.png" alt="leopoldina" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Leopoldina" 2010</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Leopoldina
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2480791&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/serra_do_curral.png" alt="serra_do_curral" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Serra do Curral" 2010</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Thiago Delegado
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/dvd_kristoff_ao_vivo.png" alt="dvd_kristoff_ao_vivo" width=200px height=200px />
                      <p class="discography-album">DVD "Em pé no porto Ao vivo" 2008</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Kristoff Silva
                      </p>
                  </li>


                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/422624061&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/quase_em_silencio.jpg" alt="serra_do_curral" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Quase em silêncio" 2008</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Rafael Macedo
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/3349712&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/sambero.png" alt="mdmg_instrumental" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Sambêro" 2008</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Mestre Jonas
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/tempo_de_desenredo.png" alt="tempo_de_desenredo" width=200px height=200px />
                      <p class="discography-album">"Tempo do desenredo" 2007</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Sidney Porto
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/193715001&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/em_pe_no_porto.jpg" alt="kristoff_silva" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Em pé no porto" 2007</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Kristoff Silva
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/267816272&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/moira.jpg" alt="moira" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Moira" 2007</p>
                      <p class="discography-artist">
                          <span class="artist-format">
                            Artist:
                          </span>
                            Maísa Moura
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/BDMG-Instrumental_2007-300x300.png" alt="mdmg_instrumental" width=200px height=200px />
                      <p class="discography-album">"BDMG Instrumental" 2007</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              André Rocha
                      </p>
                  </li>

                  <li class="discography-cell">
                      <iframe width="200px" height="200px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/81698822&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
                        <img class="discography-img" src="../img/cover/titane.jpg" alt="ana_titane" width=200px height=200px />
                      </iframe>
                      <p class="discography-album">"Ana" 2007</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Titane
                      </p>
                  </li>

                  <li class="discography-cell">
                      <img class="discography-img" src="../img/cover/fernando.png" alt="fernando_sodre" width=200px height=200px />
                      <p class="discography-album">"Fernando Sodré" 2005</p>
                      <p class="discography-artist">
                            <span class="artist-format">
                              Artist:
                            </span>
                              Fernando Sodré
                      </p>
                  </li>

                </ul>

              </div>
            </section>

            <footer id="footer">
              <div class="full-width">
                <h2>Newsletter</h2>
                <p>Subscribe to the newsletter to get infos and upcoming gig dates!
                </p>
                <!-- Begin MailChimp Signup Form -->
                <div id="mailchimp">
                    <form action="https://imcreator.us16.list-manage.com/subscribe/post?u=a1e3ccd1f65d3d7e61b61c3f4&amp;id=2fed38d52d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                        <input type="email" size="30", value="Your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">

                        <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div class="clear">
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->

                <div>
                  <a id="imprint" href="../impressum/index.html"> imprint </a>
                </div> <!-- end imprint -->

                <p id="copyright">copyright @Theresa Mannschatz 2019
                <a href="http://theresamannschatz.design">
                  <figure>
                    <img id="chamaeleon-footer-brand" src="../img/chamaeleon.png" alt="chamaleon-symbol-footer">
                  </figure>
                </a>
                </p>
              </div>
            </footer>
        </main>
    </body>
</html>
