<h1 class="text-center mt-4"> What is the Delta Blog? </h1>

<div class="container mt-5">
  <p>
    Everyone is invited to write articles about future developments, thoughts about perspectives and how we could improve the world we know step by step. If everyone changes just a small thing everyday we can get really far.
  </p>

  <h2 class="text-center "> Let's connect, share ideas and collect donations for OGN's! </h2>

  <p class="text-center">
    <%= link_to 'Donate to Greenpeace', "https://www.greenpeace.de/spenden", class:"display-4" %> 
  <p>

  <div class="text-center mt-3">
    <%= link_to 'Home page', root_path %> |
    <%= link_to 'Articles listing', articles_path %>
  </div>
</div>
