  <div class="jumbotron jumbotron-fluid" id="jumbotron-image">
    <div class="container">
      <h1 class="display-4">Delta Blog</h1>
      <p class="page-description"> This is a collection of interesting articles </p>
    </div>
  </div>

  <div class="container-fluid" id="image-ref">
    <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>
  </div>

  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Latest</a>
      </li>
    </ul>
  </div>

  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 card-deck">
      <div class="col mb-4">
        <div class="card h-100">
          <%= image_tag("imagetest.jpg", alt: "article1-image", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Article title</h5>
            <p class="card-text">Description.</p>
          </div>
          <div class="card-footer">
            <small class="text-white">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <%= image_tag("imagetest.jpg", alt: "article1-image", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
          <div class="card-footer">
            <small class="text-white">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <%= image_tag("imagetest.jpg", alt: "article1-image", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-white">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
