<div class="jumbotron jumbotron-fluid" id="jumbotron-image">
  <div class="container">
    <h1 class="display-4 jumbotron-blog-name">Delta Blog</h1>
    <p class="page-description"> This is a collection of interesting articles </p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-custom-edit btn-lg mb-3" %>
  </div>
</div>

<div class="container-fluid" id="image-ref">
  <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>
</div>

<div class="container-fluid mt-4">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Most-liked</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Latest</a>
    </li>
  </ul>
</div>


<%= render 'article', obj: @most_liked_articles %>
