<div class="jumbotron jumbotron-fluid" id="jumbotron-image">
  <div class="container">
    <h1 class="display-4">Delta Blog</h1>
  </div>
</div>

<div class="container-fluid" id="image-ref">
  <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>
</div>
