@import 'bootstrap/dist/css/bootstrap';

$background-color: #beef00;
$font-color: black;
$font-color-light: white;
$highlight-color-light: #ff0028;
$highlight-color-dark: #1400c6;
$deep-green: #657a00;
$button-green: #38ad42;

html {
  background-color: $background-color;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.page-content {
  flex: 1 0 auto;
}

h1 {
  color: $highlight-color-dark;
}

.jumbotron-blog-name {
  font-size: 4em;
}

.card-title-color {
  color: $highlight-color-light;
}

.card-footer, .card-header {
  background-color: $highlight-color-dark;
}

.btn-custom-show, .btn-custom-edit:hover {
  background-color: $background-color;
  color: $button-green;
  border: 1px solid $button-green;
}

.btn-custom-show:hover, .btn-custom-edit {
  background-color: $button-green;
  color: $font-color-light;
}

.btn-custom-delete {
  background-color: $highlight-color-light;
  color: $font-color-light;
}

.form-label {
  color: $highlight-color-dark;
}

/*****************/
/***** NAVBAR ****/
/*****************/


.navbar {
  background-color: $background-color !important;
}

.nav-link {
  color: $font-color !important;
}

#blog-logo {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: bold;
  color: $highlight-color-dark;
}

/******************+*/
/***** HOMEPAGE ***+*/
/******************+*/


#jumbotron-image {
  background-image: asset-url("jombotron-image.png") !important;
  background-repeat: repeat;
  background-color: $highlight-color-dark;
  margin-bottom: 0;
  border: none;
  h1 {
    color: $highlight-color-light;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: bold;
  }
  p {
    color: $highlight-color-light;
    font-size: 2em;
  }
  :hover {
    background-color: $background-color;
    border-radius: 20px;
  }
}

#image-ref {
  background-color: #1400c6;
  border: none;
}

/*****************/
/**** FOOTER  ****/
/*****************/

#chamaeleon-footer-brand {
  -webkit-filter: grayscale(50%) brightness(220%);
  filter: grayscale(50%) brightness(220%);
}

footer {
  background-color: #beef00;
  flex-shrink: 0;
  a small {
    color: $font-color;
  }
}

#sticky-footer {
  flex-shrink: none;
}
