<footer class="py-4 text-black-100">
  <div class="container text-center" id="chamaeleon-footer-brand">
    <small>copyright @Theresa Mannschatz 2020; based on AlphaBlog App from <%= link_to 'Udemy Rails and Ruby Course', 'https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course', class: 'text-body' %> </small>
    <%= image_tag("chamaeleon.png", :alt => "chamaleon-symbol-footer", :size => "30") %>
  </div>
  <div class="text-center">
    <small>
      <%= link_to "theresamannschatz.design", "https://theresamannschatz.design", class: "text-body" %>
    </small>
  </div>
</footer>
