<footer class="py-4 text-black-100">
  <div class="container text-center" id="chamaeleon-footer-brand">
    <small>copyright @Theresa Mannschatz 2020 </small>
    <a href="http://theresamannschatz.design">
      <%= image_tag("chamaeleon.png", :alt => "chamaleon-symbol-footer", :size => "30") %>
      <small> theresamannschatz.design </small>
    </a>
  </div>
</footer>
